body
{
    font-family: sans-serif;
    //background-color: #ececec;
    color: #555;
    margin: 0;
}

h1
{
    //font-weight: normal;
    font-size: 3em;
    margin: 0;
    //-webkit-text-stroke: 1px #555;
}

h1.terrible
{
    color: #F44336;
}

h1.bad
{
    color: #FFC107;
}

h1.meh
{
    color: #FFEB3B;
}

h1.good
{
    color: #CDDC39;
}

h1.best
{
    color: #8BC34A;
}

h2
{
    margin: 0;
    font-weight: normal;
}

wrapper
{
    display: block;
    padding: 1em;
    text-align: center;
    padding-top: 18vh;
    font-size: 1.5em;
    max-width: 22em;
    margin: 0 auto;
    box-sizing: border-box;
}

header
{
    display: block;
    background-color: #555;
    color: #ececec;
    padding: 1em;
}

hr
{
    margin: 2em 0;
}
